/* BACKGROUND */
body {
  background-repeat: no-repeat;
  background-image: url('../images/texel_beach.jpg');
  background-size: cover;
  background-attachment: fixed;
}
/* END BACKGROUND */

/* APP SIZING */
.App {
  text-align: center;
  width: 100%;
}
/* END APP SIZING */

/* FONTS */
.header-font {
  font-family: 'Comfortaa', cursive;
}
.paragraph-font {
  font-family: 'Lato', sans-serif;
}
.brand-font {
  font-family: 'Comfortaa', cursive;
}
/* END FONTS */

/* INTRO CSS */
#callToAction {
  height: 92vh;
  background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
  background-size: cover;
}

#div1 {
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

#middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

#div2 {
  height: 15%;
}

#div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

#inspirationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: lato;
  font-size: 1.2em;
}

#callHeader1 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: lato;

}

#callHeader2 {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  font-family: lato;
  line-height: 1.5;

}

#pressMe {
  background-color: rgba(255, 255, 255, 0.9);
}

#pressMe:hover {
  background-color: rgba(255, 255, 255, 1);
}

#inspirationList ul {
  list-style-type: none;
  padding-left: 0px;
}

#followUp {
  background-color: #2b2b2b;
  height: 100vh;
}

/* Small screen */
@media (max-width: 576px) {
  #callToAction {
    background-color: rgba(0,0,0,0);
  }
  #callHeader1 {
    font-size: 3.5em;
    padding-left: 1%;
    padding-right: 1%;
  }
  #callHeader2 {
    padding-left: 1%;
    padding-right: 1%;
  }
  .focusOnYou {
    background: linear-gradient(to right, rgba(255,255,255,0) , #46B3B3);
  }
  .followUp {
    margin: 1%;
  }
  #followUpButton {
    background-color: rgba(255,255,255,0.8);
  }
  #followUpButton:hover {
    background-color: white;
  }
  #outerDiv {
    background-color: rgba(255,255,255,0.5);
    height: 92vh;
  }
}
/* Regular screen and up */
@media (min-width: 576px) {
  #callToAction {
    background-color: rgba(255,255,255,0.1);
  }
  #callHeader1 {
    font-size: 5em;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
  }
  .focusOnYou {
    background: linear-gradient(to right, #46B3B3 , rgba(255,255,255,0));
  }
  #callHeader2 {
    color: #2b2b2b;
  padding-left: 2%;
  padding-right: 2%;
  }
  .followUp {
    padding-left: 2%;
  }
  #middle {
    background-color: rgba(255,255,255,0.7);
  }
  #outerDiv {
    height: 92vh;
  }
}

/* END INTRO CSS */

/* Parallax */
.parallax{
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513095416/IMG_7240_q9dadh.jpg);
		min-height: 300px;
}
.bgimg-2 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/IMG_7166_hlep5j.jpg);
    min-height: 300px;
}

.bgimg-3 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
    min-height: 300px;
}

.opaque-container {
	background-color: rgba(255, 255, 255, 0.8);
  min-height: 100%;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
    background-color: #46B3B3;
    color: #fff;
    padding: 20px;
    letter-spacing: 3px;
		font-size: 36px;

}

/* End parallax */

/* space */
body {
	line-height: 1.6;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
}
/* end space */


/* NAVBAR */

.navbar-brand {
  padding-right: 1%;

}


.navbar-brand:hover {
  border-radius: 10px;
  padding-right: 1%;
}

.navbar {
    border-bottom: 3px solid #46B3B3;
		margin-bottom: 0;
    padding-bottom: 0px;
    padding-top: 3px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.App-logo {
  width: 45px;
  height: auto;
  padding-bottom: 7px;
  padding-right: 5px;
}

.App-header {
  background-color: #2b2b2b;
  color: white;
}

.btn-clean {
  border: transparent;
  background: transparent;
}

.btn-clean:focus {
  text-decoration: none;
   outline:none;
   border: none;
   box-shadow: none;
}

.btn-goodminder {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-goodminder:hover {
  color: #fff;
  background-color: #399393;
  border-color: #46B3B3;
}

/* END NAVBAR */

/* BUTTONS */
.btn-small {
  color: #fff;
  background-color: #46B3B3;
  background-image: none;
  font-family: 'Comfortaa', cursive;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 18px;
}

.btn-small:hover{
  color: #fff;
  background-color: #399393;
  border-color: #46B3B3;
}

.btn-center {
  margin-left: 1%;
  margin-right: 1%;
}

/* Small screen */
@media (min-width: 0px) {
  .btn-custom {
    border: solid;
    border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: #2b2b2b;
    padding: 15px 15px;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
  	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .btn-custom:hover {
    background-color: white;
  }
}

/* Regular screen and up */
@media (min-width: 576px) {
  .btn-custom {
    border: solid;
    border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: #2b2b2b;
    padding: 15px 32px;
    text-align: center;
  	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
  }
  .btn-custom:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

/* END BUTTONS */

/* LISTS */
ul.clean {
  list-style-type: none;
  padding-left: 0px;
}
/* END LISTS */

/* SCREEN RESIZING */

/* Small screen */
@media (max-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .App {
    background-color: rgba(255, 255, 255, 0.7);
		min-height: 100vh;
    height: 100%;
  }
	.box {
      background-color: transparent;
      border: 0px;
      padding: 0px;
      border-radius: 0px;
      -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
      -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
      font-size: 16px;
      color: #5777C0;
  }
	.g-box {
    background-color: rgba(255, 255, 255, 0.6);
		padding: 5%;
  }
	.btn-small {
	  width: 100%;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}

/* Regular screen and up */
@media (min-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .App {
    background-color: transparent;
  }
	.box {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #2b2b2b;
      padding: 25px;
      border-radius: 10px;
      -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      font-size: 16px;
      color: #5777C0;

  }
	.g-box {
    background-color: transparent;
		padding: 2%;
  }
	.btn-small {
	  width: auto;
	}
}
