/* INTRO CSS */

#callToAction {
  height: 92vh;
  background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
  background-size: cover;
}

#div1 {
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

#introMiddle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
}

#div2 {
  height: 15%;
}

#div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

#inspirationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: lato;
  font-size: 1.2em;
}

#callHeader1 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: lato;
}

#callHeader2 {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  font-family: lato;
  line-height: 1.5;
}

#pressMe {
  background-color: rgba(255, 255, 255, 0.9);
}

#pressMe:hover {
  background-color: rgba(255, 255, 255, 1);
}

#inspirationList ul {
  list-style-type: none;
  padding-left: 0px;
}

.followUpStyles {
  background-color: #2b2b2b;
  height: 100vh;
}

.followUp {
  text-align: center;
}
/* Small screen */

@media (max-width: 576px) {
  #callToAction {
    background-color: rgba(0, 0, 0, 0);
  }
  #callHeader1 {
    font-size: 3.5em;
  }
  .focusOnYou {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #46B3B3);
  }
  #followUpButton {
    background-color: rgba(255, 255, 255, 0.8);
  }
  #followUpButton:hover {
    background-color: white;
  }
  #outerDiv {
    background-color: rgba(255, 255, 255, 0.5);
    height: 92vh;
  }
}

/* Regular screen and up */

@media (min-width: 576px) {
  #callToAction {
    background-color: rgba(255, 255, 255, 0.1);
  }
  #callHeader1 {
    font-size: 5em;
    color: white;
  }
  #introMiddle {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .focusOnYou {
    background: linear-gradient(to right, #46B3B3, rgba(255, 255, 255, 0));
  }
  #callHeader2 {
    color: #2b2b2b;
  }
  #outerDiv {
    height: 92vh;
  }
}

/* END INTRO CSS */
