/* BACKGROUND */
body {
  background-repeat: no-repeat;
  background-image: url('../images/texel_beach.jpg');
  background-size: cover;
  background-attachment: fixed;
}
/* END BACKGROUND */

/* APP SIZING */
.App {
  text-align: center;
  width: 100%;
}
/* END APP SIZING */

/* FONTS */
.comfortaa {
  font-family: 'Comfortaa', cursive;
}
/* END FONTS */

/* INTRO CSS */
#callToAction {
  height: 92vh;
  background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
  background-size: cover;
}

#div1 {
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

#middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

#div2 {
  height: 15%;
}

#div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

#inspirationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: lato;
  font-size: 1.2em;
}

#callHeader1 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: lato;

}

#callHeader2 {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  font-family: lato;
  line-height: 1.5;

}

#pressMe {
  background-color: rgba(255, 255, 255, 0.9);
}

#pressMe:hover {
  background-color: rgba(255, 255, 255, 1);
}

#inspirationList ul {
  list-style-type: none;
  padding-left: 0px;
}

#followUp {
  background-color: #2b2b2b;
  height: 100vh;
}

/* Small screen */
@media (max-width: 576px) {
  #callToAction {
    background-color: rgba(0,0,0,0);
  }
  #callHeader1 {
    font-size: 3.5em;
    padding-left: 1%;
    padding-right: 1%;
  }
  #callHeader2 {
    padding-left: 1%;
    padding-right: 1%;
  }
  .focusOnYou {
    background: linear-gradient(to right, rgba(255,255,255,0) , #46B3B3);
  }
  .followUp {
    margin: 1%;
  }
  #followUpButton {
    background-color: rgba(255,255,255,0.8);
  }
  #followUpButton:hover {
    background-color: white;
  }
  #outerDiv {
    background-color: rgba(255,255,255,0.5);
    height: 92vh;
  }
}
/* Regular screen and up */
@media (min-width: 576px) {
  #callToAction {
    background-color: rgba(255,255,255,0.1);
  }
  #callHeader1 {
    font-size: 5em;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
  }
  .focusOnYou {
    background: linear-gradient(to right, #46B3B3 , rgba(255,255,255,0));
  }
  #callHeader2 {
    color: #2b2b2b;
  padding-left: 2%;
  padding-right: 2%;
  }
  .followUp {
    padding-left: 2%;
  }
  #middle {
    background-color: rgba(255,255,255,0.7);
  }
  #outerDiv {
    height: 92vh;
  }
}

/* END INTRO CSS */


/* NAVBAR */

.navbar {
  border-bottom: 3px solid #46B3B3;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

.navbar-brand>img {
  height: 100%;
  padding-right: 3px;
  padding-bottom: 3px;
  object-fit: cover;
}

nav .container{
  margin: 3px;
  width: 100%;
}

/* END NAVBAR */
